@media (max-width: 768px) {
  .carousel {
    max-width: 95%;
  }

  .carousel-button {
    padding: 10px;
    font-size: 20px;
  }

  .nav-menu {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: #fff;
    position: absolute;
    top: 60px;
    left: 0;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  .nav-menu.active {
    display: flex;
  }

  .menu-toggle {
    display: flex;
    flex-direction: column;
    cursor: pointer;
  }

  .menu-toggle .bar {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 4px 0;
    transition: 0.3s;
  }
}

@media (max-width: 480px) {

  .btn-gerar-codigo,
  .btn-upload,
  .btn-enviar-imagem,
  .btn-suporte {
    padding: 6px 12px;
    font-size: 12px;
  }
}